# Database
POSTGRES_USER=postgres
POSTGRES_PASSWORD=changeme
POSTGRES_DB=dream_vacation_db
DATABASE_URL=postgresql://postgres:changeme@db:5432/dream_vacation_db

# Backend
PORT=5000
COUNTRIES_API_BASE_URL=https://restcountries.com/v3.1

# Frontend
REACT_APP_API_URL=http://localhost:5000
